
* {
    margin: 0;
    padding: 0;
    text-decoration-style: line;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    border: 4px solid black;
    background: linear-gradient(to top, #000000, #424242);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: white;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #000000, #424242);
    color: white;
    height: 70px;
}

.header-container {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Alinea verticalmente los elementos */
    padding: 10px;
}

.back-button {
    margin-left: 0; /* Alineación a la izquierda */
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.contact-us {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centrado horizontal */
}

a {
    text-decoration: dashed;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
}

a:hover {
    color: #FF7F11;
}

 h1 {
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    
 }

 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
 }


.video-adjust {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 50px;
}

.video-container {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "section1 section2"
    "section1 section2"
    "section1 section2";
    padding: 0;
}

.section1 { 
    grid-area: section1;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}
.section2 { 
    grid-area: section2;  
    padding-left: 40px;
    align-items: center;
    align-content: center;
    justify-content: center;
}
/*Form Styles*/

.form-container {
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #000000, #424242);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
}

.form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    color: white;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="number"],
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form-group input[type="radio"],
  .form-group input[type="checkbox"] {
    margin-right: 10px;
  }

  .form-group .form-check {
    display: flex;
    align-items: center;
  }

  .form-group .form-check label {
    margin-left: 5px;
    font-weight: normal;
  }

  .form-group button {
    background-color: #000000;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    border: 2px solid white;
    transition: background-color 0.3s ease, background-color 0.3s ease;
  }

  .form-group button.cancel {
    background-color: #000000;
  }

  .form-group button:hover {
    background-color: #E2E8CE;
    color: black;
  }

  .form-group button.cancel:hover {
    background-color: #FF7F11;
    color: black;
  }

